<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="template1.html"
>

<head>
    <meta charset="UTF-8">
    <title>Patients</title>
</head>
<body>
<div layout:fragment="content">
    <div class="p-3" >
        <div>
            <div class="card">
                <div class="card-header">List patients</div>
                <div class="card-body" >
                    <form method="get" th:action="@{/index}" >
                        <label>Keyword : </label>
                        <input type="text" name="keyword" th:value="${key}" >
                        <button type="submit" class="btn btn-info" >
                            <i class="bi bi-search" ></i>
                        </button>
                    </form>
                    <table class="table ">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Date Of birth</th>
                            <th>Sick</th>
                            <th>Score</th>
                            <th>Action</th>
                        </tr>
                        <tr th:each="p:${patients}">
                            <td th:text="${p.id}" ></td>
                            <td th:text="${p.nom}" ></td>
                            <td th:text="${p.dateOfBirth}" ></td>
                            <td th:text="${p.sick}" ></td>
                            <td th:text="${p.score}" ></td>
                            <td >
                                <a onclick="return confirm('Really !!')"  th:href="@{delete(id=${p.id},keyword=${key}, p=${currentPage})}" class="btn btn-danger" >
                                    <i class="bi bi-trash"></i>
                                </a>
                                <a   th:href="@{/editPatient(id=${p.id})}" class="btn btn-success" >
                                    edit
                                </a>
                            </td>
                        </tr>
                    </table>
                    <ul class="nav nav-pills">
                        <li th:each="page,status:${pages}">
                            <a th:href="@{/index(p=${status.index},keyword=${key})}"
                               th:class="${currentPage==status.index? 'btn btn-info ms-1' : 'btn btn-outline-info ms-1'}"
                               th:text="${status.index+1}"></a>

                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

</div>

</body>
</html>